<div class="container">
    <div class="columns is-centered">
        <div class="column is-9">

            
                <h4 class="title is-4" style="text-align: center; font-family: cursive">Добавить Залог</h4>

            <div class="columns box">
                <div class="column is-6">

                        <div class="field">
                            <label class="label">Залог</label>
                            <div class="select is-primary">
                                <select [ngModel]="city">
                                  <option [ngValue]="chooseCity">Телефон</option>
                                  <option [ngValue]="chooseCity">Ноутбук</option>
                                  <option [ngValue]="chooseCity">Золото</option>
                                  </select>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Бренд</label>
                                <div class="control">
                                    <input [(ngModel)]="customer.firstname"  class="input is-primary is-rounded" type="text" placeholder="Иван">
                                </div>
                        </div>

                        <div class="field">
                            <label class="label">Точная модель</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>


                        <div class="field">
                            <label class="label">Серинный номер</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Общепринятое название</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Память</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Имеи</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Вес телефона в граммах</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Вес телефона в граммах</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>

                        
                        <div class="field">
                            <label class="label">Вес телефона в граммах</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>

                        
                        <div class="field">
                            <label class="label">Вес телефона в граммах</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>

                        
                        <div class="field">
                            <label class="label">Вес телефона в граммах</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>

                        
                        <div class="field">
                            <label class="label">Вес телефона в граммах</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>

                        
                        <div class="field">
                            <label class="label">Вес телефона в граммах</label>
                            <div class="control">
                                <input  [(ngModel)]="customer.middlename" class="input is-primary is-rounded" type="text" placeholder="Иванович">
                            </div>
                        </div>
                </div>
                <div class="column is-6">
                    

                        <div class="field">
                                <label class="label">Моб.Тел.</label>
                                <div class="control">
                                    <input  [(ngModel)]="customer.mobileNumber" class="input is-primary is-rounded" type="tel" placeholder="8 777 654 32 11">
                                </div>
                        </div>

                        <div class="field">
                                <label class="label">Дом Тел.</label>
                                <div class="control">
                                    <input  [(ngModel)]="customer.homeNumber" class="input is-primary is-rounded" type="tel" placeholder="8 727 398 76 54">
                                </div>
                        </div>

                        <div class="field">
                                <label class="label">Почта</label>
                                <div class="control">
                                    <input  [(ngModel)]="customer.email" class="input is-primary is-rounded" type="email" placeholder="asb@mail.ru">
                                </div>
                        </div>

                        <hr>

                        <button (click)="checkData()">Check</button>

                </div>
            </div>

        </div>
    </div>
</div>