<div class="container">
        <div class="columns is-centered">
            <div class="column is-9">
    
                <div class="columns box">
                    <div class="column is-6">

                            <div class="field">
                                <div class="content">
                                    City
                                </div>
                                <div class="control">
                                    <div class="select is-primary">
                                        <select>
                                          <option>Almaty</option>
                                          <option>Astana</option>
                                          <option>Semey</option>
                                          <option>Shymkent</option>
                                          <option>Zaisan</option>
                                          <option>Kentau</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <div class="column is-6">
                        
                    </div>
                </div>

            </div>
        </div>
</div>