<div class="container">
    <div class="columns is-centered">
        <div class="column is-9">

            <div class="columns box">
                <div class="column is-12">

                    <div class="table-container">
                        <table class="table is-fullwidth is-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Имя</th>
                                    <th>Адрес</th>
                                    <th>Номер</th>
                                    <th>Город</th>                  
                                </tr>
                            </thead>
                            <tbody *ngFor="let branch of branches; let i = index">
                                <tr  class="is-selected: active">
                                    <td>{{branch.id}}</td>
                                    <td>{{branch.name}}</td>
                                    <td>{{branch.address}}</td>
                                    <td>{{branch.homeNumber}}</td>
                                    <td>{{branch.city.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                   

                </div>
            </div>

        </div>
    </div>
</div>