<div class="container">
        <br>
        <div class="columns is-centered">
          <div class="column is-9">
            <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                <a class="navbar-item">
                  <h5 class="title " style="font-family: Georgia;" (click)="getMainPage()">{{title}}</h5>
                </a>
      
                <a role="button" class="navbar-burger burger" (click)="toggleActive()" [ngClass]="{'is-active': active}" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>
      
              <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': active}">
                <div class="navbar-start">
                  <a class="navbar-item" (click)="getMainPage()">
                    Главная
                  </a>
      
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                      Филиал
                    </a>
      
                    <div class="navbar-dropdown">
                      <a class="navbar-item" (click)="getShopPage()">
                        Добавить филиал
                      </a>
                      <a class="navbar-item" (click)="getCompanyPage()">
                        Список филиалов
                      </a>
                      
                    </div>
                  </div>

                  <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link">
                        Клиент
                      </a>
        
                      <div class="navbar-dropdown">
                        <a class="navbar-item" (click)="getShopPage()">
                          Добавить клиента
                        </a>
                        <a class="navbar-item" (click)="getCompanyPage()">
                          Список клиентов
                        </a>
                        
                      </div>
                    </div>

                </div>
      
              </div>
            </nav>
          </div>
        </div>
        <hr>
      </div>
      